page-add-note {
    ion-content {
        background: url(../assets/imgs/bg-2.jpeg) no-repeat center fixed;
        background-size: cover;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right,#fa1,#fa1f34);
            opacity: .9;
        }
    }

    span.button-inner{
      background-color:#f8f8f8;
      color:#555;
    }

    .button-md{
      background-color:#f8f8f8;
    }

    div.toolbar-title.toolbar-title-md{
      background-color:#fff;
    }
}
