page-view-note {
    ion-content {
        background: url(../assets/imgs/bg-3.jpg) no-repeat center fixed;
        background-size: cover;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right,#ff2, #f54320);
            opacity: .9;
        }
    }

    .note-date{
        font-size: 0.8em;
        color: #333;
        margin-bottom: 12px;
    }

    span.button-inner{
      background-color:#f8f8f8;
      color:#555;
    }

    .button-md{
      background-color:#f8f8f8;
    }

    div.toolbar-title.toolbar-title-md{
      background-color:#fff;
    }
}
