page-home {
    ion-content {
        background: url(../assets/imgs/bg-1.jpeg) no-repeat center fixed;
        background-size: cover;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right,#f90, #f05);
            opacity: .9;
        }
    }

    .date {
        font-weight: bold;
        color: #333;
        padding-right: 24px;
        font-size: 0.8em;
        z-index: 2;
    }

    span.button-inner{
      background-color:#f8f8f8;
      color:#555;
    }

    .button-md{
      background-color:#f8f8f8;
    }

    div.toolbar-title.toolbar-title-md{
      background-color:#fff;
    }
}
