<ion-header>
  <ion-navbar>
    <ion-title>
        <img alt="notablelogo" height="40"   src="../../assets/imgs/longnlogo.png" >
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let note of notes | async" (click)="getNote(note.createDate)">
      <span class="date">{{ note.date }}</span>
      {{ note.title }}
    </button>
  </ion-list>
  <button ion-button (click)="addNote()">Add Note</button>
</ion-content>
